<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>240103623350-b9i3ckof80bcrdmid46urv9cb9elrur8.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.240103623350-b9i3ckof80bcrdmid46urv9cb9elrur8</string>
	<key>API_KEY</key>
	<string>AIzaSyA2jBEtKmUyQKIbIz6jGk1yi80f4rCV3hI</string>
	<key>GCM_SENDER_ID</key>
	<string>240103623350</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>ru.FanilJr.Juls</string>
	<key>PROJECT_ID</key>
	<string>juls-8fdae</string>
	<key>STORAGE_BUCKET</key>
	<string>juls-8fdae.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:240103623350:ios:5b25144ebbd9cbcf64b417</string>
</dict>
</plist>